* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: orange;
}

.generatore_password {
  padding: 15px;
  background-color: lightgrey;
  transition: 2s linear;
}

.generatore_password:hover {
  background-color: lightblue;
}

#risultato {
  color: blue;
  font-weight: bold;
  font-size: 1.6rem;
}
